<div class="tweet">
  <p><%= @tweet.song_name %></p>
  <p><%= @tweet.musician %></p>
  <% if user_signed_in? %>
  <%= highlight(@tweet.lyrics, current_user.karihozon) %>
  <% else %>
  <%= @tweet.lyrics %>
  <% end %>
  <p><%= @tweet.created_at %></p>
   
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= find_youtube_url(@tweet.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<% if user_signed_in? %>
     <% if current_user.already_liked?(@tweet) %>
        <%= link_to tweet_like_path(id: @tweet.id, tweet_id: @tweet.id), data: { turbo_method: :delete } do %>
        <i class="fas fa-heart" style="color:red;"></i><%= @tweet.likes.count %>
     <% end %>
  <% else %>
    <%= link_to tweet_likes_path(id: @tweet.id, tweet_id: @tweet.id), data: { turbo_method: :post }  do %>
         <i class="far fa-heart" style="color:red;"></i><%= @tweet.likes.count %>
    <% end %>
  <% end %>
    <% else %>
      <i class="far fa-heart" style="color:red;"></i><%= @tweet.likes.count %>
    <% end %>
<br>
<% @tweet.tags.each do |tag| %>
    <span><%= tag.name %></span>
<% end %>

<h2>いいねしたユーザー</h2>
<% @tweet.liked_users.each do |user| %>
  <%= user.email %></li>
<% end %>
<br>
<%= link_to "Tweet一覧に戻る", tweets_path %>